
<div class="g-padding-x-20--xs g-padding-y-30--xs">
	<div class="text-center propic">
		<img class="profile-user-img img-fluid img-circle"
		src="{{user.photoURL}}"
		alt="{{user.displayName}}">
	</div>
	<h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs g-text-center--xs">{{(user.displayName) ? user.displayName : 'User'}}</h3>
	<ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
		<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-email"></i>{{user.email}}</li>

		<li *ngIf="user.accountType ==='1'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-crown"></i>
			Champions Golfers 
		</li>

		<li *ngIf="user.accountType ==='2'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-star"></i>
			Celebrity Golfers 
		</li>

		<li *ngIf="user.accountType ==='3'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-cup"></i>
			Professional Golfers 
		</li>

		<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-home"></i> {{user.homeClub}}</li>

		<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check-box"></i> 
				Account Verified
				<span class="pull-right" *ngIf="currentUser.emailVerified">Yes</span>
				<span class="pull-right" *ngIf="!currentUser.emailVerified">No</span>
	    </li>

		<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-medall"></i><strong>Index : </strong> {{user.handicap}}</li>

		<li>
			<i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-world"></i> 
			Rwanda 
			<span class="pull-right">
				<img src="assets/img/flags/Rwanda.png" class="profile-flag-img-small" >
			</span>
		</li>

	</ul>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<button 
				type="button" 
				class="btn btn-default"
				*ngIf="currentUser.emailVerified"
				(click)="updatePublished(false)"
				><i class="g-font-size-13--xs g-color--primary ti-pencil-alt"></i> <small>UnPublish</small>
			   </button>

			   <button 
				type="button" 
				class="btn btn-default"
				*ngIf="!currentUser.emailVerified"
				(click)="updatePublished(true)"
				><i class="g-font-size-13--xs g-color--primary ti-pencil-alt"></i> <small>Publish</small>
			   </button>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal"><i class="g-font-size-13--xs g-color--blueviolet  ti-pencil-alt"></i> <small>Edit</small></button>
				<button type="button" class="btn btn-default"><i class="g-font-size-13--xs g-color--red ti-close"></i><small> Delete</small></button>
			</div>

		</div>
	</div>



</div>







