<!-- <div *ngFor="let trment of tournament$ | async; index as i"> -->
	<div>
		<div class="container g-margin-t-20--xs">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a routerLink="/dashboard"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Dashboard</a></li>
							<li class="breadcrumb-item"><a routerLink="/tournaments"><i class="g-color--primary g-margin-r-10--xs ti-cup"></i> Tournaments</a></li>
							<li class="breadcrumb-item active" aria-current="page"><i class="g-color--primary g-margin-r-10--xs ti-user"></i>  {{trment?.name}}</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<div class="g-bg-color--sky-light">
			<div class="container g-padding-y-20--xs g-padding-y-30--xsm">
				<div class="row g-row-col--5">
					<!-- Plan -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h2 class="g-font-size-22--xs g-font-size-24--md">{{trment?.name}}<span class="pull-right"><i class="ti-Cup"></i></span></h2>
									<h2 class="g-font-size-14--xs g-font-size-16--md">{{te?.tee_name}} - {{te?.tee_color}}</h2>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<i class="g-color--primary g-margin-r-10--xs ti-calendar"></i>
											{{trment?.startDate}}
											<span class="pull-right"><i class="g-color--primary g-margin-r-10--xs ti-calendar"></i> {{trment?.endDate}}</span>
										</li>
									</ul>
								</div>
							</div>

							<div class="row g-padding-y-30--xs">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#scoreboard">Scorecard</a></li>
										<li><a data-toggle="tab" href="#leaderboard">Leaderboard</a></li>
									</ul>

									<div class="tab-content g-padding-y-30--xs">
										<div id="scoreboard" class="tab-pane fade in active">
											<h2 class="g-font-size-14--xs g-font-size-16--md">Scorecard<span class="pull-right"><i class="ti-clipboard"></i></span></h2>

											<div class="row g-margin-b-30--xs" ng-if="i % 3 === 0">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<table class="table table-striped table-bordered tablefont">
														<thead>
															<tr>
																<th style="width: 20%;">HOLE</th>
																<th style="width: 10%;">1</th>
																<th style="width: 10%;">2</th>
																<th style="width: 10%;">3</th>
																<th style="width: 10%;">4</th>
																<th style="width: 10%;">5</th>
																<th style="width: 10%;">6</th>
																<th style="width: 10%;">7</th>
																<th style="width: 10%;">8</th>
																<th style="width: 10%;">9</th>
																<th style="width: 10%;">Ttl</th>
															</tr>
														</thead>

														<tbody>
															<tr>
																<td style="width: 20%;">PAR</td>
																<td style="width: 10%;" *ngFor="let par of courseParTop">{{par}}</td>
															</tr>
															<tr *ngFor="let leaders of leaderBoard">
																<td style="width: 20%;">STROKES</td>
																<td style="width: 10%;" *ngFor="let score of leaders.score_in_hole">{{score}}</td>
																<td>{{leaders.total}}</td>
															</tr>
															<tr>
																<td style="width: 20%;">SCORE</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<table class="table table-striped table-bordered tablefont">
														<thead>
															<tr>
																<th style="width: 20%;">Hole</th>
																<th style="width: 10%;">10</th>
																<th style="width: 10%;">11</th>
																<th style="width: 10%;">12</th>
																<th style="width: 10%;">13</th>
																<th style="width: 10%;">14</th>
																<th style="width: 10%;">15</th>
																<th style="width: 10%;">16</th>
																<th style="width: 10%;">17</th>
																<th style="width: 10%;">18</th>
																<th style="width: 10%;">Ttl</th>
															</tr>
														</thead>

														<tbody>
															<tr>
																<td style="width: 20%;">Par</td>
																<td style="width: 10%;" *ngFor="let par of courseParBottom">{{par}}</td>
															</tr>
															<tr *ngFor="let leaders of leaderBoard">
																<td style="width: 20%;">Strokes</td>
																<td style="width: 10%;" *ngFor="let score of leaders.score_in_hole">{{score}}</td>
																<td>{{leaders.total}}</td>
															</tr>
															<tr>
																<td style="width: 20%;">Score</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
																<td style="width: 10%;">x</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="row">
												<div class="col-md-3 col-sm-3 col-xs-3">
													<strong>Par </strong> : <i>{{te?.course_par_for_tee}}</i>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3">
													<strong>Total</strong> :  <i>X</i>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3">
													<strong>HCP</strong> :  <i>X</i>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3">
													<strong>NET</strong> : <i>X</i>
												</div>
											</div>

										</div>

										<div id="leaderboard" class="tab-pane fade in">
											<h2 class="g-font-size-14--xs g-font-size-16--md">Leaderboard<span class="pull-right"><i class="ti-clipboard"></i></span></h2>

											<div class="row g-margin-b-30--xs" ng-if="i % 3 === 0">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<table class="table table-striped tablefont">
														<thead>
															<tr>
																<th style="width: 5%;">#</th>
																<th style="width: 5%;">Ctry</th>
																<th style="width: 60%;">Name</th>
																<th style="width: 10%;">Total</th>
																<th style="width: 10%;">Hole</th>
																<th style="width: 10%;">R1</th>
															</tr>
														</thead>

														<tbody>
															<tr *ngFor="let leader of leaderBoard; let i = index">
																<td>{{getNumber(i)}}</td>
																<td>
																	<img src="assets/img/flags/{{leader?.nationality}}.png" class="profile-flag-img-small" >
																</td>
																<td>{{leader?.displayName}}</td>
																<td>{{leader?.total}}</td>
																<td>x</td>
																<td>x</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!-- End Plan -->
				</div>
			</div>
		</div>
	</div>

