<div class="g-bg-color--sky-light">
  <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-row-col--5">
      <!-- Plan -->
      <div class="col-md-4  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <!-- search -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">What are people seeing</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">Update Profile Picture <span class="pull-right"><i class="ti-image"></i></span></h2>


                
              </div>
            </div>

          </div>
      </div>
      <!-- End Plan -->

      <!-- Plan -->
      <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">Lets Create Your Profile</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">Update Profile <span class="pull-right"><i class="ti-id-badge"></i></span></h2>

                <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          formControlName="firstname"
                          placeholder="First Name"   
                          required
                          />
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          formControlName="surname"
                          placeholder="Last Name"   
                          required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                              <span class="input-group-btn">
                                <i class="s-form-v4__icon ti-cup"></i>
                              </span>
                              <select 
                              class="form-control s-form-v4__input" 
                              formControlName="accountType"
                              style="width: 100%;" 
                              required
                              >
                                <option value="">Account Type</option>
                                <option value="1">Champion</option>
                                <option value="2">Celebrity</option>
                                <option value="3">Pro Golfer</option>
                              </select>
                            </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="input-group g-margin-b-10--xs">
                              <span class="input-group-btn">
                                <i class="s-form-v4__icon ti-world"></i>
                              </span>
                              <select 
                              class="form-control s-form-v4__input" 
                              formControlName="gender"
                              style="width: 100%;" 
                              required
                              >
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                              </select>
                            </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          placeholder="Handicap" 
                          required
                          formControlName="handicap"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-world"></i>
                          </span>
                          <select 
                          class="form-control s-form-v4__input" 
                          formControlName="nationality"
                          style="width: 100%;" 
                          required
                          >
                            <option value="">Nationality</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Rwanda">Rwanda</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-world"></i>
                          </span>
                          <select 
                          class="form-control s-form-v4__input" 
                          formControlName="residence" 
                          style="width: 100%;" 
                          required
                          >
                            <option value="">Country Of Residence</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Rwabda">Rwanda</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-12">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-home"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          placeholder="Home Club" 
                          required
                          formControlName="homeClub"
                          />
                        </div>
                      </div>
                      
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Update Profile</button>
                      </div>
                    </div>

                </form>
                
              </div>
            </div>

          </div>
      </div>
      <!-- End Plan -->
    </div>
  </div>
</div>