<div *ngIf="firstrun=='1'">
  <!-- Plan -->
<div class="g-bg-color--sky-light">
  <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-row-col--5">
      <!-- Plan -->
      <div class="col-md-4  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">

          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">
            <div class="text-center propic">
              <img class="profile-user-img img-fluid img-circle"
              src="{{userRef.photoURL}}"
              alt="User profile picture">
            </div>
            <h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs g-text-center--xs">{{userRef.displayName}}</h3>
            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-email"></i>{{userRef.email}}</li>
              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-home"></i> {{userRef.homeClub}}</li>

              <li *ngIf="userRef.accountType ==='1'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-crown"></i> Champions Golfers </li>
              <li *ngIf="userRef.accountType ==='2'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-star"></i> Celebrity Golfers </li>
              <li *ngIf="userRef.accountType ==='3'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-cup"></i> Professional Golfers </li>

              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-medall"></i><strong>Index : </strong> {{userRef.handicap}}</li>

              <li>
                <i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-world"></i> 
                {{userRef.nationality}}
                <span class="pull-right">
                  <img src="assets/img/flags/{{userRef.nationality}}.png" class="profile-flag-img-small" >
                </span>
              </li>

              <li>
                <span class="pull-right">
                  <small>
                    <a routerLink="/edit-user" routerLinkActive="active" class="nav-link">
                      <i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-pencil-alt"></i> Edit Profile
                    </a>
                  </small>
                </span>
              </li>
            </ul>


            <div class="row g-hor-divider__dashed--sky-light g-text-center--xs g-padding-y-30--xs">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="g-font-size-18--xs g-color--primary g-margin-r-10--xs ti-bolt"></i><br>
                <p class="g-font-size-12--xs g-color--primary text-uppercase">Regional Ranking</p>
                <p class="g-font-size-18--xs g-color--primary text-uppercase">13</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="g-font-size-18--xs g-color--primary g-margin-r-10--xs ti-world"></i><br>
                <p class="g-font-size-12--xs g-color--primary text-uppercase">Regional Ranking</p>
                <p class="g-font-size-18--xs g-color--primary text-uppercase">13</p>
              </div>
            </div>

            <div class="row g-hor-divider__dashed--sky-light g-text-center--xs g-padding-y-30--xs">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button routerLink="/play" routerLinkActive="active" type="button" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Play</button>
                </div>
              </div>
            </div>

            <div class="g-hor-divider__dashed--sky-light g-padding-y-10--xs g-padding-y-20--xsm"></div>

            <!-- Create An Invite Page-->
            <div class="g-padding-y-30--xs" *ngIf="userRef.accountType ==='2'">
              <h2 class="g-font-size-14--xs g-font-size-16--md">Invite A Celebrity<span class="pull-right"><i class="ti-share"></i></span></h2>
              <p class="g-font-size-10--xs g-color--primary">
                As a celebrity player you can invite other celebrity players to join please press the button below 
              </p>

              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <button class="text-uppercase s-btn s-btn--xs s-btn--green-brd g-radius--50">Invite</button>
                </div>
              </div>

            </div>

          </div>
      </div>
      <!-- End Plan -->

      <!-- Plan -->
      <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">


            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">The Best Place To Get Golf News </p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">Score Board Summary <span class="pull-right"><i class="ti-clipboard"></i></span></h2>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Total Points</th>
                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Lawrence Gumbo</td>
                      <td>18</td>
                      <td><img src="assets/img/flags/Rwanda.png" class="profile-flag-img-small" ></td>
                    </tr>

                  </tbody>
                </table>

                
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">The Best Place To Get Golf News </p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">News And Updates <span class="pull-right"><i class="ti-book"></i></span></h2>
                <!-- Swiper -->
                <div class="s-swiper js__swiper-news">
                  <!-- Wrapper -->
                  <div class="swiper-wrapper g-margin-b-60--xs">
                    <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('assets/img/400x500/07.jpg');">
                      <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                        <div class="g-margin-b-25--xs">
                          <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Golf Headline here</h3>
                          <p class="g-color--white">Headline here.</p>
                        </div>
                        <a href="#" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                      </div>
                    </article>
                  </div>
                  <!-- End Wrapper -->

                  <!-- Pagination -->
                  <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination"></div>
                </div>
                <!-- End Swiper -->
              </div>
            </div>

            



          </div>
      </div>
      <!-- End Plan -->
    </div>
  </div>
</div>
        <!-- End Plan -->
</div>

<div *ngIf="firstrun=='0'">
  <div class="g-bg-color--sky-light">
  <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-row-col--5">
      <!-- Plan -->
      <div class="col-md-4  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <!-- search -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">What are people are asking</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">One Last Step <span class="pull-right"><i class="ti-help"></i></span></h2>

                  <p>Hie there <strong>{{userEmail}}</strong></p>
                  <p>For better use of the Pleace GOLF platform please finish creating your profile.
                  </p>

                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a routerLink="/terms" routerLinkActive="active" class="nav-link">Terms And Conditions</a> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a routerLink="/privacy" routerLinkActive="active" class="nav-link">Privacy Policy</a>
                    </div>

                    
                  </div>
                
              </div>
            </div>

          </div>
      </div>
      <!-- End Plan -->

      <!-- Plan -->
      <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">Lets Create Your Profile</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">Profile <span class="pull-right"><i class="ti-help"></i></span></h2>

                <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          formControlName="firstname"
                          placeholder="First Name"   
                          required
                          />
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          formControlName="surname"
                          placeholder="Last Name"   
                          required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                              <span class="input-group-btn">
                                <i class="s-form-v4__icon ti-cup"></i>
                              </span>
                              <select 
                              class="form-control s-form-v4__input" 
                              formControlName="accountType"
                              style="width: 100%;" 
                              required
                              >
                                <option value="">Account Type</option>
                                <option value="1">Champion</option>
                                <option value="2">Celebrity</option>
                                <option value="3">Pro Golfer</option>
                              </select>
                            </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="input-group g-margin-b-10--xs">
                              <span class="input-group-btn">
                                <i class="s-form-v4__icon ti-smile"></i>
                              </span>
                              <select 
                              class="form-control s-form-v4__input" 
                              formControlName="gender"
                              style="width: 100%;" 
                              required
                              >
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                              </select>
                            </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-user"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          placeholder="Handicap" 
                          required
                          formControlName="handicap"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-world"></i>
                          </span>
                          <select 
                          class="form-control s-form-v4__input" 
                          formControlName="nationality"
                          style="width: 100%;" 
                          required
                          >
                            <option value="">Nationality</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Rwanda">Rwanda</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-world"></i>
                          </span>
                          <select 
                          class="form-control s-form-v4__input" 
                          formControlName="residence" 
                          style="width: 100%;" 
                          required
                          >
                            <option value="">Country Of Residence</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Rwabda">Rwanda</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-sm-12">
                        <div class="input-group g-margin-b-10--xs">
                          <span class="input-group-btn">
                            <i class="s-form-v4__icon ti-home"></i>
                          </span>
                          <input 
                          type="text" 
                          class="form-control s-form-v4__input" 
                          placeholder="Home Club" 
                          required
                          formControlName="homeClub"
                          />
                        </div>
                      </div>
                      
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Update Profile</button>
                      </div>
                    </div>

                </form>
                
              </div>
            </div>

          </div>
      </div>
      <!-- End Plan -->
    </div>
  </div>
</div>
</div>