<div class="container g-margin-t-20--xs">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"><i class="g-color--primary g-margin-r-10--xs ti-user"></i> {{userRef.displayName}}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div *ngIf="firstrun=='1'">
  <!-- Plan -->
  <div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs">
      <div class="row g-row-col--5">
        <!-- Plan -->
        <div class="col-md-12  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">

          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">
            <div class="text-center propic">
              <img class="profile-user-img img-fluid img-circle"
              src="{{userRef.photoURL}}"
              alt="User profile picture">
            </div>
            <h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs g-text-center--xs">{{userRef.displayName}}</h3>
            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-email"></i>{{userRef.email}}</li>
              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-home"></i> {{userRef.homeClub}}</li>

              <li *ngIf="userRef.accountType ==='1'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-crown"></i> Champs </li>
              <li *ngIf="userRef.accountType ==='2'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-star"></i> Celebrity </li>
              <li *ngIf="userRef.accountType ==='3'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-cup"></i> Tour Player </li>
              <li *ngIf="userRef.accountType ==='4'"><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-cup"></i> PGA Professional </li>

              <li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-medall"></i><strong>Handicap : </strong> {{userRef.handicap}}</li>

              <li>
                <i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-world"></i>
                {{userRef.nationality}}
                <span class="pull-right">
                  <img src="assets/img/flags/{{userRef.nationality}}.png" class="profile-flag-img-small" >
                </span>
              </li>

              <li>
                <span class="pull-right">
                  <small>
                    <a routerLink="/edit-user" routerLinkActive="active" class="nav-link">
                      <i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-pencil-alt"></i> Edit Profile
                    </a>
                  </small>
                </span>
              </li>
            </ul>


            <div class="row g-hor-divider__dashed--sky-light g-text-center--xs g-padding-y-30--xs">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="g-font-size-18--xs g-color--primary g-margin-r-10--xs ti-bolt"></i><br>
                <p class="g-font-size-12--xs g-color--primary text-uppercase">Regional Ranking</p>
                <p class="g-font-size-18--xs g-color--primary text-uppercase">13</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="g-font-size-18--xs g-color--primary g-margin-r-10--xs ti-world"></i><br>
                <p class="g-font-size-12--xs g-color--primary text-uppercase">Regional Ranking</p>
                <p class="g-font-size-18--xs g-color--primary text-uppercase">13</p>
              </div>
            </div>

            <div class="row g-padding-y-30--xs">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button routerLink="/play" routerLinkActive="active" type="button" class="text-uppercase s-btn s-btn--xs s-btn--dark-bg g-radius--50 btn-block">Play</button>
                </div>
              </div>
            </div>

            

          </div>
        </div>
        <!-- End Plan -->
      </div>
    </div>
  </div>
  <!-- End Plan -->
</div>

<div *ngIf="firstrun=='0'">
  <div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs g-padding-y-30--xsm">
      <div class="row g-row-col--5">
        <!-- Plan -->
        <div class="col-md-4  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <!-- search -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">What are people are asking</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">One Last Step <span class="pull-right"><i class="ti-help"></i></span></h2>

                <p>Hie there <strong>{{userEmail}}</strong></p>
                <p>For better use of the Pleace GOLF platform please finish creating your profile.
                </p>

                <hr>

                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/terms" routerLinkActive="active" class="nav-link"><small>Terms And Conditions</small></a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/privacy" routerLinkActive="active" class="nav-link"><small>Privacy Policy</small></a>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
        <!-- End Plan -->

        <!-- Plan -->
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-uppercase g-font-size-10--xs g-color--primary">Lets Create Your Profile</p>
                <h2 class="g-font-size-22--xs g-font-size-24--md">Profile <span class="pull-right"><i class="ti-help"></i></span></h2>

                <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="row ">
                    <div class="col-sm-6">
                      <div class="input-group g-margin-b-10--xs">
                        <span class="input-group-btn">
                          <i class="s-form-v4__icon ti-user"></i>
                        </span>
                        <input
                        type="text"
                        class="form-control s-form-v4__input"
                        formControlName="firstname"
                        placeholder="First Name"
                        required
                        />
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="input-group g-margin-b-10--xs">
                        <span class="input-group-btn">
                          <i class="s-form-v4__icon ti-user"></i>
                        </span>
                        <input
                        type="text"
                        class="form-control s-form-v4__input"
                        formControlName="surname"
                        placeholder="Last Name"
                        required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-sm-6">
                      <div class="input-group g-margin-b-10--xs">
                        <span class="input-group-btn">
                          <i class="s-form-v4__icon ti-cup"></i>
                        </span>
                        <select
                        class="form-control s-form-v4__input"
                        formControlName="accountType"
                        style="width: 100%;"
                        required
                        >
                        <option value="">Account Type</option>
                        <option value="1">Champs</option>
                        <option value="2">Celebrity</option>
                        <option value="3">Tour Player</option>
                        <option value="4">PGA Professional</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="input-group g-margin-b-10--xs">
                      <span class="input-group-btn">
                        <i class="s-form-v4__icon ti-face-smile"></i>
                      </span>
                      <select
                      class="form-control s-form-v4__input"
                      formControlName="gender"
                      style="width: 100%;"
                      required
                      >
                      <option value="">Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>

                <div
                *ngIf="accountType.value != 3 && accountType.value != 4"
                class="col-sm-3">
                  <div class="input-group g-margin-b-10--xs">
                    <span class="input-group-btn">
                      <i class="s-form-v4__icon ti-medall"></i>
                    </span>
                    <input
                    type="text"
                    class="form-control s-form-v4__input"
                    placeholder="Handicap"
                    required
                    formControlName="handicap"
                    />
                  </div>
                </div>
              </div>


              <!--  -->
              <div
              *ngIf="accountType.value == 2"
              class="row ">
                <div class="col-sm-12">
                  <div class="input-group g-margin-b-10--xs">
                    <span class="input-group-btn">
                      <i class="s-form-v4__icon ti-cup"></i>
                    </span>
                    <input
                    type="text"
                    class="form-control s-form-v4__input"
                    placeholder="celebrity code"
                    required
                    formControlName="code"
                    />
                </div>
              </div>
          </div>
              <!--  -->
              <div class="row ">
                <div class="col-sm-6">
                  <div class="input-group g-margin-b-10--xs">
                    <span class="input-group-btn">
                      <i class="s-form-v4__icon ti-world"></i>
                    </span>
                    <select
                    class="form-control s-form-v4__input"
                    formControlName="nationality"
                    style="width: 100%;"
                    required
                    >
                    <option value="">Nationality</option>
                    <option *ngFor="let country of countriesList" [value]="country.name">{{country?.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="input-group g-margin-b-10--xs">
                  <span class="input-group-btn">
                    <i class="s-form-v4__icon ti-world"></i>
                  </span>
                  <select
                  class="form-control s-form-v4__input"
                  formControlName="residence"
                  style="width: 100%;"
                  required
                  >
                  <option value="">Country Of Residence</option>
                  <option *ngFor="let country of countriesList" [value]="country.name">{{country?.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-12">
              <div class="input-group g-margin-b-10--xs">
                <span class="input-group-btn">
                  <i class="s-form-v4__icon ti-home"></i>
                </span>
                <select
                class="form-control s-form-v4__input"
                formControlName="homeClub"
                style="width: 100%;"
                required
                >
                <option
                [disabled]="residence.value == ''"
                value="">{{residence.value == '' ? 'Select a Country of Residence first' : (clubsList?.length == 0 ? 'No Clubs in your country' : 'Home club')}}</option>
                <option *ngFor="let club of clubsList" [value]="club.id">{{club?.club_name}}</option>
              </select>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Update Profile</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>
<!-- End Plan -->
</div>
</div>
</div>
</div>
