<div *ngIf="currentCourse" class="edit-form">

	<!-- <div class="row">
		<div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">

			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<button
							class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block"
							*ngIf="currentCourse.club_published"
							(click)="updatePublished(false)"
							>
							<i class="ti-close"></i> UnPublish
					</button>

					<button
						*ngIf="!currentCourse.club_published"
						class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block"
						(click)="updatePublished(true)"
						>
						<i class="ti-check-box"></i> Publish
					</button>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4">
					<button 
						class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block" 
						(click)="editCourse()">
						<i class="ti-pencil-alt"></i> Edit
					</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<button 
						class="text-uppercase s-btn s-btn--sm s-btn--green-brd g-radius--3 btn-block" 
						(click)="deleteCourse()">
						<i class="ti-na"></i> Delete
					</button>
				</div>
			</div>

		</div>
	</div> -->

	<div class="row g-hor-divider__dashed--sky-light g-padding-y-30--xs">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<img class="img-responsive img-thumb" src="assets/img/courses/{{currentCourse.club_image}}" alt="{{currentCourse.club_name}}">
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
			<h2 class="g-font-size-14--xs g-font-size-16--md"><span>Course Quick Look</span></h2>
			<h2 class="g-font-size-14--xs g-font-size-16--md"></h2>

			<p class="quick-details g-font-size-14--xs"><i class="ti-flag-alt-2"></i> Name <span class="pull-right">{{currentCourse.club_name}}</span></p>
			<p class="quick-details g-font-size-14--xs"><i class="ti-mobile"></i> Phone <span class="pull-right">{{currentCourse.phone}}</span></p>
			<p class="quick-details g-font-size-14--xs"><i class="ti-email"></i> Email <span class="pull-right">{{currentCourse.email_address}}</span></p>
			<p class="quick-details g-font-size-14--xs"><i class="ti-world"></i> Web <span class="pull-right">{{currentCourse.website}}</span></p>

		</div>
	</div>

	<div class="row g-hor-divider__dashed--sky-light g-padding-y-30--xs">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h2 class="g-font-size-14--xs g-font-size-16--md"><span>About</span></h2>

			<div class="row g-text-center--xs">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Hole</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.holes}}</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Type</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.club_membership}}</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Par</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.par}}</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Slope</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.slope}}</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Rating</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.rating}}</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="g-font-size-14--xs"><strong>Length</strong></p>
					<p class="g-font-size-14--xs">{{currentCourse.rating}}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<button type="button" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Play</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<button type="button" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs" data-toggle="modal" data-target="#courseTeas">
						Teas
					</button>

					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<button type="button" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Full Scoreboard</button>
				</div>
			</div>

		</div>

	</div>


</div>



