
<div class="container g-margin-t-20--xs">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"><i class="g-color--primary g-margin-r-10--xs ti-user"></i> Play</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="g-bg-color--sky-light">
	<div class="container g-padding-y-20--xs g-padding-y-30--xsm">
		<div class="row g-row-col--5">


			<!-- Plan -->
			<div class="col-md-12 col-sm-12 col-xs-12">

       <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

        <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">


          <section *ngIf="tournamentId == '';else tournamentSelected">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-responsive">
                  <thead>
                    <tr>
                      <th style="width: 45%;">Name</th>
                      <th style="width: 25%;">Start Date</th>
                      <th style="width: 25%;">End Date</th>
                      <th style="width: 5%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tournamentsChamps of tournamentsChamps$ | async; index as i">
                      <td>
                        <span>
                          <a (click)="onTournamentSelect(tournamentsChamps.id)">
                            <strong>{{ tournamentsChamps.name}}</strong>
                          </a>
                        </span>
                      </td>
                      <td>{{ tournamentsChamps.startDate}}</td>
                      <td>{{ tournamentsChamps.endDate}}</td>
                      <td>
                        <span >
                          <a (click)="onTournamentSelect(tournamentsChamps.id, tournamentsChamps.name)">
                            <i class="g-color--primary g-margin-r-10--xs ti-eye"></i>
                          </a>
                        </span>


                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <ng-template #tournamentSelected>

            <section >
              <h2 class="g-font-size-22--xs g-font-size-24--md">Quick Play {{tournamentName}}<span class="pull-right"><i class="ti-layers"></i></span></h2>

              <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label>Golf Club</label>
                    <div class="input-group g-margin-b-10--xs">
                      <span class="input-group-btn">
                        <i class="s-form-v4__icon ti-flag-alt-2"></i>
                      </span>
                      <select
                      class="form-control s-form-v4__input"
                      style="width: 100%;"
                      formControlName="club"
                      name = "club"
                      id = "club"
                      >
                      <option value="">select club</option>
                      <option *ngFor="let club1 of golfClubs" [value]="club1.id">{{club1.club_name}}</option>
                    </select>
                  </div>
                </div>

              </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label>Golf Course</label>
                    <div class="input-group g-margin-b-10--xs">
                      <span class="input-group-btn">
                        <i class="s-form-v4__icon ti-flag-alt-2"></i>
                      </span>
                      <select
                      class="form-control s-form-v4__input"
                      style="width: 100%;"
                      formControlName="course"
                      name = "course"
                      id = "course"
                      placeholder="course"
                      >
                      <option value="">{{clubs.value == '' ? 'Select a club first' : 'Courses'}}</option>
                      <option *ngFor="let course of golfCourses" [value]="course.id">{{course.course_name}}</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label>Tee</label>
                  <div class="input-group g-margin-b-10--xs">
                    <span class="input-group-btn">
                      <i class="s-form-v4__icon ti-flag-alt"></i>
                    </span>
                    <select
                    class="form-control s-form-v4__input"
                    style="width: 100%;"
                    formControlName="tee"
                    name = "tee"
                    id = "tee"
                    >
                    <option value="">{{course.value == '' ? 'Select a course first' : 'Tees'}}</option>
                    <option *ngFor="let tee of courseTees" [value]="tee.id">{{tee.tee_name}}</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label>Handicap / Index</label>
                <div class="input-group g-margin-b-10--xs">
                  <span class="input-group-btn">
                    <i class="s-form-v4__icon ti-medall"></i>
                  </span>
                  <input
                  type="text"
                  class="form-control s-form-v4__input"
                  formControlName="handiCapIndex"
                  placeholder="Handicap / Index"
                  name = "handiCapIndex"
                  id = "handiCapIndex"
                  />
                </div>
              </div>
            </div>


            <!-- <div class="row g-margin-t-30--xs">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="submit" class="text-uppercase s-btn s-btn--xs s-btn--dark-bg g-radius--50 btn-block">Submit</button>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="button" (click)="showForm = false" class="text-uppercase s-btn s-btn--xs s-btn--green-brd g-radius--50 btn-block">Cancel</button>
              </div>
            </div>
     -->
     <button (click)="joinTournament()" routerLinkActive="active" type="button" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Play</button>
          </form>
            </section>

          </ng-template>


    </div>
  </div>

</div>

</div>
<!-- End Plan -->
</div>
</div>
</div>

