<div class="g-bg-color--sky-light">
  <div class="container g-padding-y-20--xs g-padding-y-30--xsm">
    <div class="row g-row-col--5">
      <!-- Plan -->
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="s-plan-v1 g-bg-color--white">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="assets/img/sign-in.jpg" class="img-responsive">                
            </div>
          </div>

        </div>
      </div>
      <!-- End Plan -->

      <!-- Plan -->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="text-uppercase g-font-size-10--xs g-color--primary">Thank You for Signing up </p>
              <h2 class="g-font-size-22--xs g-font-size-24--md">Welcome<span class="pull-right"><i class="ti-star"></i></span></h2>

              <div class="formGroup" *ngIf="ngAuthService.userState as user">
                <p class="text-center">Confirmation mail has been sent to <strong>{{user.email}}</strong>.</p>
              </div>


              <div class="row g-padding-y-30--xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="button" (click)="ngAuthService.SendVerificationMail()" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Resend Verification Email</button>
                </div>
              </div>  

              <div class="row text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a routerLink="/sign-in" routerLinkActive="active" class="nav-link">I have Verified. Sign In</a>.
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <!-- End Plan -->
    </div>
  </div>
</div>
