<div class="g-bg-color--sky-light">
	<div class="container g-padding-y-80--xs g-padding-y-125--xsm">
		<div class="row g-row-col--5">
			<!-- Plan -->
			<div class="col-md-4  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">
				<div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

					<!-- search -->
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<p class="text-uppercase g-font-size-10--xs g-color--primary">What are people are asking</p>
							<h2 class="g-font-size-22--xs g-font-size-24--md">FAQ <span class="pull-right"><i class="ti-help"></i></span></h2>

						</div>
					</div>

				</div>
			</div>
			<!-- End Plan -->

			<!-- Plan -->
			<div class="col-md-8 col-sm-12 col-xs-12">

				<div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<p class="text-uppercase g-font-size-10--xs g-color--primary">What are people are asking</p>
							<h2 class="g-font-size-22--xs g-font-size-24--md">Golf Clubs  <span class="pull-right"><i class="ti-flag"></i></span></h2>

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#africa">Africa</a></li>
										<li><a data-toggle="tab" href="#asia">Asia</a></li>
										<li><a data-toggle="tab" href="#europe">Europe</a></li>
										<li><a data-toggle="tab" href="#america">America</a></li>
										<li><a data-toggle="tab" href="#greatBritain">Great Britain</a></li>
										<li><a data-toggle="tab" href="#oceania">Oceania</a></li>
									</ul>

									<div class="tab-content g-padding-y-30--xs">
										<div id="africa" class="tab-pane fade in active">

											<div class="row" ng-if="i % 3 === 0">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let africaClub of africaClubs$ | async; index as i">
													<div class="clubs g-margin-b-10--xs">
														<div class="row club-top">
															<div class="col-md-12 col-sm-12 col-xs-12">
																<strong>{{ africaClub.club_name}}</strong>
															</div>
														</div>

														<div class="row club-bottom">
															<div class="col-md-6 col-sm-6 col-xs-6">
																<a [routerLink]="['/club', africaClub.id]">
																	<i class="g-color--primary g-margin-r-10--xs ti-eye"></i> <small>View</small>
																</a>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6">
																<span class="pull-right">
																	<img src="assets/img/flags/{{africaClub.country}}.png" class="profile-flag-img-small" >
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>

										</div>
										<div id="asia" class="tab-pane fade">
											<div class="row" ng-if="i % 3 === 0">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let asiaClub of asiaClubs$ | async; index as i">
													<div class="clubs g-margin-b-10--xs">
														<div class="row club-top">
															<div class="col-md-12 col-sm-12 col-xs-12">
																<strong>{{ asiaClub.club_name}}</strong>
															</div>
														</div>

														<div class="row club-bottom">
															<div class="col-md-6 col-sm-6 col-xs-6">
																<a [routerLink]="['/club', asiaClub.id]">
																	<i class="g-color--primary g-margin-r-10--xs ti-eye"></i> <small>View</small>
																</a>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6">
																<span class="pull-right">
																	<img src="assets/img/flags/{{asiaClub.country}}.png" class="profile-flag-img-small" >
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div id="europe" class="tab-pane fade">
											<div class="row" ng-if="i % 3 === 0">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let europeClub of europeClubs$ | async; index as i">
													<div class="clubs g-margin-b-10--xs">
														<div class="row club-top">
															<div class="col-md-12 col-sm-12 col-xs-12">
																<strong>{{ europeClub.club_name}}</strong>
															</div>
														</div>

														<div class="row club-bottom">
															<div class="col-md-6 col-sm-6 col-xs-6">
																<a [routerLink]="['/club', europeClub.id]">
																	<i class="g-color--primary g-margin-r-10--xs ti-eye"></i> <small>View</small>
																</a>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6">
																<span class="pull-right">
																	<img src="assets/img/flags/{{europeClub.country}}.png" class="profile-flag-img-small" >
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div id="america" class="tab-pane fade">
											<div class="row" ng-if="i % 3 === 0">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let americaClub of americaClubs$ | async; index as i">
													<div class="clubs g-margin-b-10--xs">
														<div class="row club-top">
															<div class="col-md-12 col-sm-12 col-xs-12">
																<strong>{{ americaClub.club_name}}</strong>
															</div>
														</div>

														<div class="row club-bottom">
															<div class="col-md-6 col-sm-6 col-xs-6">
																<a [routerLink]="['/club', americaClub.id]">
																	<i class="g-color--primary g-margin-r-10--xs ti-eye"></i> <small>View</small>
																</a>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6">
																<span class="pull-right">
																	<img src="assets/img/flags/{{americaClub.country}}.png" class="profile-flag-img-small" >
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div id="greatBritain" class="tab-pane fade">
											<div class="row" ng-if="i % 3 === 0">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let gbClub of greatBritainClubs$ | async; index as i">
													<div class="clubs g-margin-b-10--xs">
														<div class="row club-top">
															<div class="col-md-12 col-sm-12 col-xs-12">
																<strong>{{ gbClub.club_name}}</strong>
															</div>
														</div>

														<div class="row club-bottom">
															<div class="col-md-6 col-sm-6 col-xs-6">
																<a [routerLink]="['/club', gbClub.id]">
																	<i class="g-color--primary g-margin-r-10--xs ti-eye"></i> <small>View</small>
																</a>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-6">
																<span class="pull-right">
																	<img src="assets/img/flags/{{gbClub.country}}.png" class="profile-flag-img-small" >
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div id="oceania" class="tab-pane fade">
											<h3>Oceania</h3>
											<p class="pull-right"><small>Courses</small></p>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>

				</div>
			</div>
			<!-- End Plan -->
		</div>
	</div>
</div>
