<!-- <form [formGroup]="scorecard">
  <div class="row">
    <div class="col">
      <input formControlName="hole1">
    </div>


    <div class="col">
      <input formControlName="hole2">
    </div>


    <div class="col">
      <input formControlName="hole3">
    </div>

    <div class="col">
      <input formControlName="hole4">
    </div>

    <div class="col">
      <input formControlName="hole5">
    </div>

    <div class="col">
      <input formControlName="hole6">
    </div>

    <div class="col">
      <input formControlName="hole7">
    </div>

    <div class="col">
      <input formControlName="hole8">
    </div>
    <div class="col">
      <input formControlName="hole9">
    </div>

    <div class="col">
      <input formControlName="hole10">
    </div>
    </div>
</form> -->
<div class="g-bg-color--sky-light">
  <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-row-col--5">

      <!-- Plan -->

      <!-- End Plan -->

      <!-- Plan -->
      <div class="col-md-12  col-sm-12 col-xs-12 g-margin-b-10--xs g-margin-b-0--lg">
        <div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

          <!-- search -->
          <div *ngIf="formLoaded" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

              <h2 class="g-font-size-14--xs g-font-size-16--md">Lets Enter Your Scores<span class="pull-right"><i class="ti-clipboard"></i></span></h2>

              <form [formGroup]="scorecard">

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole1"
                      required
                      placeholder="Hole 1 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole2"
                      required
                      placeholder="Hole 2 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole3"
                      required
                      placeholder="Hole 3 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole4"
                      required
                      placeholder="Hole 4 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole5"
                      required
                      placeholder="Hole 5 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole6"
                      required
                      placeholder="Hole 6 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole7"
                      required
                      placeholder="Hole 7 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole8"
                      required
                      placeholder="Hole 8 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group g-margin-b-10--xs">
                      <input type="text" class="form-control s-form-v4__input"
                      formControlName="hole9"
                      required
                      placeholder="Hole 9 Score Here"
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">Boogie</div>
                </div>


                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="formGroup">
                      <button type="button" class="text-uppercase s-btn btn-block s-btn--xs s-btn--primary-bg g-radius--3 g-padding-x-40--xs g-margin-b-20--xs"
                      (click)="onSave()">
                      Save
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="formGroup">
                      <button type="button" class="text-uppercase s-btn btn-block s-btn--xs s-btn--primary-bg g-radius--3 g-padding-x-40--xs g-margin-b-20--xs"
                      (click)="onFinish()">
                      Finish
                      </button>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>
      <!-- End Plan -->


    </div>
  </div>
</div>
