<div class="container g-margin-t-20--xs">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="g-color--primary g-margin-r-10--xs ti-panel"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"><i class="g-color--primary g-margin-r-10--xs ti-receipt"></i> Rankings</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="g-bg-color--sky-light">
	<div class="container g-padding-y-20--xs g-padding-y-30--xsm">
		<div class="row g-row-col--5">
			<!-- Plan -->
			<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="s-plan-v1 g-bg-color--white g-padding-x-20--xs g-padding-y-30--xs">

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#scoreboard">Scoreboard</a></li>
										<li><a data-toggle="tab" href="#leaderboard">Leaderboard</a></li>
									</ul>

									<div class="tab-content g-padding-y-30--xs">
										<div id="scoreboard" class="tab-pane fade in active">
											<h2 class="g-font-size-14--xs g-font-size-16--md">Scorecard<span class="pull-right"><i class="ti-clipboard"></i></span></h2>
										</div>
										<div id="leaderboard" class="tab-pane fade in">
											<h2 class="g-font-size-14--xs g-font-size-16--md">Leaderboard<span class="pull-right"><i class="ti-clipboard"></i></span></h2>
										</div>
									</div>
							</div>
						</div>

					</div>
			</div>
			<!-- End Plan -->
		</div>
	</div>
</div>

